/* Navbar */
#navbar {
  background: #232323;
  color: #fff;
  overflow: auto;
  font-family: 'Bangers', cursive;
}

#navbar a {
  color: #fff;
  font-weight: bold;
}

#navbar .logo {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
  font-family: 'Bangers', cursive;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #848482;
  color: #fff;
  text-decoration: none;
}
