<!-- <div *ngFor="let game of games">
  <p>{{game.home_team.full_name}}</p>
  <p>{{game.home_team_score}}</p>
  <p>{{game.visitor_team.full_name}}</p>
  <p>{{game.visitor_team_score}}</p>
  <br/>
</div> -->

<div *ngFor="let today of todaysGames" class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img class="team-logo" src="{{today.vTeam.logo}}" alt="Avatar" >
      <img class="team-logo" src="{{today.hTeam.logo}}" alt="Avatar" >
    </div>
    <div class="flip-card-back">
      <p> {{ today.vTeam.fullName }}: {{ today.vTeam.score.points }}</p>
      <p> {{ today.hTeam.fullName }}: {{ today.hTeam.score.points }}</p>
    </div>
  </div>
</div>
