* {
  font-family: "Bangers", cursive;
}

section {
  min-height: 100vh;
}

/* May move to global style sheet */
/* Pull in media query */
.py-5 {
  padding-top: 3rem;
}

.heading {
  max-width: 750px;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin-right: auto;
}

.ml-auto,
.mx-auto {
  margin-left: auto;
}

.pt-md-3,
.py-md-3 {
  padding-top: 1rem !important; }
/* May move to global style sheet */

span.team-imgs {
  display: inline;
}
.card {
  width: 18rem;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
}

.img-home {
  max-width: 30%;
  height: auto;
  margin: 20px;
}

.img-away {
  max-width: 30%;
  height: auto;
  margin: 20px;
}
