* {
  font-family: 'Bangers', cursive;
}

.w3l-index-block2 .s-block {
  box-shadow: 1px 2px 6px 1px rgba(53, 54, 102, 0.08);
  border-radius: var(--card-curve);
  transition: 0.3s ease-in; }

.w3l-index-block2 .s-block:hover {
  box-shadow: var(--card-hover-box-shadow);
  transition: 0.3s ease-in; }

.w3l-index-block2 .s-block h3 {
  color: var(--title-color);
  font-size: 26px;
  line-height: 35px; }

.w3l-index-block2 .s-block p {
  color: var(--text-color);
  margin-top: 15px;
  font-size: 16px;
  line-height: 26px; }

/*
    --primary-color: #151965;
    --secondary-color: #ff8556;
    --text-color: #6c757d;
    --title-color: #0F0F1A;
    --white-color: #ffffff;
    --light-bg-color: #fafafa;
    --card-box-shadow: ;
    --card-hover-box-shadow: 0px 0px 8px rgba(53, 54, 102, 0.2);
    --card-curve: 6px; } */
