<section id="plans">


</section>

<section class="w3l-index-block2 py-5">
  <div class="container py-md-3">
    <div class="heading text-center mx-auto">
      <h1 class="section-title">What's Happening in the NBA</h1>

    </div>
    <div class="row bottom_grids pt-md-3">
      <div class="col-lg-4 col-md-6 mt-5">
        <div class="s-block">
          <a href="https://www.cnn.com/videos/sports/2020/01/27/kobe-bryant-intv-first-pro-lakers-game-sot-vpx-tsr.cnn" class="d-block p-lg-4 p-3">
            <img src="https://cdn.cnn.com/cnnnext/dam/assets/200126193326-kobe-bryant-intv-super-tease.jpg" alt="" class="img-fluid" />
            <h3 class="my-3">CNN</h3>
            <p class="">ear a young Kobe Bryant give his first interview as a professional basketball player for the Los Angeles Lakers. Bryant entered the NBA straight after high school making him the youngest player in NBA history at the time.</p>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-5">
        <div class="s-block">
          <a href="https://www.bbc.co.uk/sport/basketball/51213233" class="d-block p-lg-4 p-3">
            <img src="https://ichef.bbci.co.uk/onesport/cps/624/cpsprodpb/11315/production/_110612407_zion_williamson_getty.jpg" alt="" class="img-fluid" />
            <h3 class="my-3">BBC</h3>
            <p class="">Zion Williamson impresses on his long-awaited NBA debut but his 17 straight fourth-quarter points were not enough to earn the New Orleans Pelicans victory against the San Antonio Spurs.</p>
          </a>
        </div>
      </div>
      <div class="col-lg-4 mt-5">
        <div class="s-block">
          <a href="https://www.cnn.com/videos/us/2020/01/28/caron-butler-remembering-kobe-bryant-brother-and-friend-sot-cpt-vpx.cnn" class="d-block p-lg-4 p-3">
            <img src="https://cdn.cnn.com/cnnnext/dam/assets/200128030548-caron-butler-kobe-bryant-split-super-tease.jpg" alt="" class="img-fluid" />
            <h3 class="my-3">CNN</h3>
            <p class="">Ex-NBA star's tearful tribute to Kobe: I lost a brother and a friend</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
