<section id="plans">
  <h1 class="section-title">What's Happening in the NBA</h1>
  <div class="news__list">
      <article class="plan">
          <h1 class="plan__title">Story 1</h1>
          <h3>Lorem ipsum dolor sit.</h3>
          <div>
              <button class="button">See More</button>
          </div>
      </article>
      <article class="plan plan--highlighted">
          <h1 class="plan__annotation">Top Story</h1>
          <h1 class="plan__title">PLUS</h1>
          <h3>Lorem ipsum dolor sit amet.</h3>
          <div>
              <button class="button">See More</button>
          </div>
      </article>
      <article class="plan">
          <h1 class="plan__title">Story 2</h1>
          <h2 class="plan__price">Random Event</h2>
          <h3>Lorem ipsum dolor sit.</h3>

          <div>
              <button class="button">See More</button>
          </div>
      </article>
  </div>
</section>
